<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.infra.persistence.sql.mapper.ProcessingSheepInfoModelMapper" >
  <resultMap id="BaseResultMap" type="com.demo.domain.model.ProcessingSheepInfoModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="factory_id" property="factoryId" jdbcType="BIGINT" />
    <result column="trade_mark_ear_tag" property="tradeMarkEarTag" jdbcType="VARCHAR" />
    <result column="immune_ear_tag" property="immuneEarTag" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
    <result column="buy_time" property="buyTime" jdbcType="TIMESTAMP" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="certification_id" property="certificationId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, factory_id, trade_mark_ear_tag, immune_ear_tag, weight, buy_time, pic, certification_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.demo.domain.model.ProcessingSheepInfoModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from processing_sheep_information
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from processing_sheep_information
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from processing_sheep_information
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.domain.model.ProcessingSheepInfoModelExample" >
    delete from processing_sheep_information
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.domain.model.ProcessingSheepInfoModel" >
    insert into processing_sheep_information (id, factory_id, trade_mark_ear_tag, 
      immune_ear_tag, weight, buy_time, 
      pic, certification_id)
    values (#{id,jdbcType=BIGINT}, #{factoryId,jdbcType=BIGINT}, #{tradeMarkEarTag,jdbcType=VARCHAR}, 
      #{immuneEarTag,jdbcType=VARCHAR}, #{weight,jdbcType=INTEGER}, #{buyTime,jdbcType=TIMESTAMP}, 
      #{pic,jdbcType=VARCHAR}, #{certificationId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.domain.model.ProcessingSheepInfoModel" >
    insert into processing_sheep_information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="factoryId != null" >
        factory_id,
      </if>
      <if test="tradeMarkEarTag != null" >
        trade_mark_ear_tag,
      </if>
      <if test="immuneEarTag != null" >
        immune_ear_tag,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="buyTime != null" >
        buy_time,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="certificationId != null" >
        certification_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="factoryId != null" >
        #{factoryId,jdbcType=BIGINT},
      </if>
      <if test="tradeMarkEarTag != null" >
        #{tradeMarkEarTag,jdbcType=VARCHAR},
      </if>
      <if test="immuneEarTag != null" >
        #{immuneEarTag,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="buyTime != null" >
        #{buyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="certificationId != null" >
        #{certificationId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.domain.model.ProcessingSheepInfoModelExample" resultType="java.lang.Integer" >
    select count(*) from processing_sheep_information
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update processing_sheep_information
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.factoryId != null" >
        factory_id = #{record.factoryId,jdbcType=BIGINT},
      </if>
      <if test="record.tradeMarkEarTag != null" >
        trade_mark_ear_tag = #{record.tradeMarkEarTag,jdbcType=VARCHAR},
      </if>
      <if test="record.immuneEarTag != null" >
        immune_ear_tag = #{record.immuneEarTag,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null" >
        weight = #{record.weight,jdbcType=INTEGER},
      </if>
      <if test="record.buyTime != null" >
        buy_time = #{record.buyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pic != null" >
        pic = #{record.pic,jdbcType=VARCHAR},
      </if>
      <if test="record.certificationId != null" >
        certification_id = #{record.certificationId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update processing_sheep_information
    set id = #{record.id,jdbcType=BIGINT},
      factory_id = #{record.factoryId,jdbcType=BIGINT},
      trade_mark_ear_tag = #{record.tradeMarkEarTag,jdbcType=VARCHAR},
      immune_ear_tag = #{record.immuneEarTag,jdbcType=VARCHAR},
      weight = #{record.weight,jdbcType=INTEGER},
      buy_time = #{record.buyTime,jdbcType=TIMESTAMP},
      pic = #{record.pic,jdbcType=VARCHAR},
      certification_id = #{record.certificationId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.domain.model.ProcessingSheepInfoModel" >
    update processing_sheep_information
    <set >
      <if test="factoryId != null" >
        factory_id = #{factoryId,jdbcType=BIGINT},
      </if>
      <if test="tradeMarkEarTag != null" >
        trade_mark_ear_tag = #{tradeMarkEarTag,jdbcType=VARCHAR},
      </if>
      <if test="immuneEarTag != null" >
        immune_ear_tag = #{immuneEarTag,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="buyTime != null" >
        buy_time = #{buyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="certificationId != null" >
        certification_id = #{certificationId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.domain.model.ProcessingSheepInfoModel" >
    update processing_sheep_information
    set factory_id = #{factoryId,jdbcType=BIGINT},
      trade_mark_ear_tag = #{tradeMarkEarTag,jdbcType=VARCHAR},
      immune_ear_tag = #{immuneEarTag,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=INTEGER},
      buy_time = #{buyTime,jdbcType=TIMESTAMP},
      pic = #{pic,jdbcType=VARCHAR},
      certification_id = #{certificationId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.demo.domain.model.ProcessingSheepInfoModelExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from processing_sheep_information
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>